<!DOCTYPE html>
<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js" type="text/javascript"></script>
    <style>
      .thumbnail {width:100px; height: 100px;}
      .screwyBorder {border: 20px dashed chartreuse;}
    </style>
  </head>
  <body>
    Slew of content <br />

    <div x-ng-app='' x-ng-init="doIShowImage = false;">

      <img x-ng-class="{thumbnail:true, screwyBorder:doIShowBorder}" src="{{image}}" />

      <input type="checkbox" x-ng-model="doIShowBorder" />

      <div x-ng-click="image = (doIShowImage ? 'http://25.media.tumblr.com/tumblr_me2eq0PnBx1rtu0cpo1_1280.jpg' : 'http://collegecandy.files.wordpress.com/2012/01/flying-dog-races-387.jpg'); doIShowImage = !doIShowImage">Click me</div>


    </div>
    Slew of content

  </body>
</html>
